<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyNxONKFXA_fZyG32LTgZeB7vX1S0OmjA</string>
	<key>GCM_SENDER_ID</key>
	<string>357350388370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceplatform</string>
	<key>PROJECT_ID</key>
	<string>ecommerceplatform-96de1</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceplatform-96de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357350388370:ios:580fb32317b7dfe3a7ec4b</string>
</dict>
</plist>